---
import { type CollectionEntry, getCollection } from 'astro:content'
import { Image } from 'astro:assets'

import Base from '@layouts/Base.astro'

type Post = CollectionEntry<'timeline'>
const timeline = await getCollection('timeline')
---

<style>
  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 1rem 0;
  }

  a {
    color: theme(colors.primary);
  }

  a:hover img {
    opacity: 0.5;
  }

  figure {
    background-color: white;
  }

  article {
    white-space: pre-line;
  }
</style>

<Base>
  <div class="grid gap-4">
    {
      timeline.map((x: Post) => {
        const firstImage = x.data.embed?.images?.at(0)
        const external = x.data.embed?.external
        return (
          <div class="card bg-base-300 shadow-xlm">
            <div class="card-body flex flex-row items-center space-x-4">
              <div class="avatar">
                <div class="mask rounded-full w-16 h-16">
                  <Image
                    inferSize
                    src={x.data.author.avatar}
                    alt={x.data.author.displayName}
                  />
                </div>
              </div>
              <article>{x.data.record.text}</article>
            </div>
            <figure>
              {firstImage && (
                <Image inferSize src={firstImage.thumb} alt={firstImage.alt} />
              )}
              {external && (
                <a href={external.uri}>
                  {external.thumb && (
                    <Image
                      inferSize
                      src={external.thumb}
                      alt={external.title}
                    />
                  )}
                </a>
              )}
            </figure>
          </div>
        )
      })
    }
  </div>
</Base>
